{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'translator/images/translate.png' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'translator/styles.css' %}"
      type="text/css"
    />
    <title>Site Translator</title>
  </head>

  <body>
    <header>
      <h1>Site translator</h1>
    </header>
    <p>Test</p>
    <script src="{% static 'translator/script.js' %}"></script>
  </body>
</html>
