{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'translator/images/translate.png' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'translator/styles.css' %}"
      type="text/css"
    />
    <title>Site Translator</title>
  </head>

  <body>
    <header class="mainHeader">
      <h1>Welcome to the site translator!</h1>
      <p>
        This site takes a url of another site and returns a translated version
        of it
      </p>
    </header>
    <section class="URLsection">
      <form name="URLform">
        <p>Insert the url of the site you wish to translate below:</p>
        <input
          required
          id="siteURL"
          type="text"
          placeholder="http://"
          name="siteURL"
        />
        <div>
          <select required>
            <option value="">Chose a language</option>
          </select>
        </div>
        <div>
          <button type="submit">Translate</button>
        </div>
      </form>
    </section>
    <footer class="mainFooter">
      <p>
        <strong
          >THIS IS A NON-COPORATIVE, EDUCATIONAL PROJECT WITH NO INTENTION OF
          MAKING MONEY</strong
        >
      </p>
    </footer>
    <script src="{% static 'translator/script.js' %}"></script>
  </body>
</html>
