{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'translator/images/translate.png' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'translator/styles.css' %}"
      type="text/css"
    />
    <title>Site Translator</title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script
    type="module"
    src="{% static 'translator/src/fetchURL.js' %}"
  ></script>
  <body>
    <header class="mainHeader">
      <h1>Welcome to the site translator!</h1>
      <p>
        This site takes a url of another site and returns a translated version
        of it
      </p>
    </header>
    <section class="URLsection">
      <form
        id="URLform"
        action="{% static 'translator/script.js' %}"
        method="post"
        name="URLform"
      >
        <p>Insert the url of the site you wish to translate below:</p>
        <input
          required
          id="siteURL"
          type="text"
          placeholder="http://"
          name="siteURL"
        />
        <div>
          <select required name="selectedLanguage">
            <option value="">Chose a language</option>
            <option value="fr">French</option>
            <option value="pt">Portugese</option>
            <option value="es">Spanish</option>
            <option value="de">German</option>
            <option value="zh-CN">Chinese (Simplified)</option>
            <option value="zh-TW">Chinese (Traditional)</option>
            <option value="ru">Russian</option>
            <option value="ja">Japanese</option>
            <option value="ko">Korean</option>
            <option value="ar">Arabic</option>
            <option value="hi">Hindi</option>
            <option value="it">Italian</option>
            <option value="nl">Dutch</option>
            <option value="sv">Swedish</option>
          </select>
        </div>
        <div>
          <button type="submit">Translate</button>
        </div>
      </form>
    </section>
    <footer class="mainFooter">
      <p>
        <strong
          >THIS IS A NON-COPORATIVE, EDUCATIONAL PROJECT WITH NO INTENTION OF
          MAKING MONEY</strong
        >
      </p>
    </footer>
    <script src="{% static 'translator/script.js' %}"></script>
  </body>
</html>
