@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Jakarta Sans";
  src: url("fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jakarta Sans";
  src: url("fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Jakarta Sans";
  src: url("fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Italic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: white;
}

body {
  background-color: rgb(16, 2, 49);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jakarta Sans", sans-serif;
}
